#about-container {
  max-width: 1200px;
  margin: auto;
  animation: slideFromTop 2s ease 0s 1 normal forwards;
}

#about-container section,
.bottom-section {
  margin: 50px;
}

.noralya-section img {
  display: block;
  margin: auto;
}