.admin-dashboard {
    max-width: 1200px;
    margin: 20px auto;
}

.client-list {
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.client-list h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.client-item {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-header {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.client-header:nth-child(odd) {
    background-color: #fff;
}

.client-header:hover {
    background-color: #e0e0e0;
}

.client-header span {
    flex: 1;
}

.non-traitee-badge {
    max-width: 10%;
    background-color: #ff0000;
    color: #fff;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
}

.client-header button {
    max-width: 30%;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px;
    flex: 1;
    cursor: pointer;
}

.client-header button:hover {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.client-details {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.client-details h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

/* ICON EMAIL CLIENT */
.client-details .icon {
    cursor: pointer;
    font-size: 25px;
    transition: transform 0.3s;
}

.client-details .icon:hover {
    transform: translateY(-2px);
}

.clientPreferenceDetails,
.clientOrders {
    margin: 50px;
}

.wishlistUserViewAdmin,
.cartUserViewAdmin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--border-color);
    padding: 10px;
}

.admin-order-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.admin-order-item p {
    margin: 5px 0;
}

.admin-order-item span {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}



.date-text {
    font-size: 0.75rem;
}

/* GESTION DES BOUTONS CLIENT DANS LE DASHBOARD ADMIN */
.admin-order-next-step {
    text-align: end;
}

.move-to-next-step {
    background-color: white;
    color: #333;
    border: 2px solid #ddd;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.move-to-next-step:hover {
    background-color: #f1f1f1;
}

.admin-notes-add-btn {
    background-color: black;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.move-to-next-step:hover,
.admin-notes-add-btn:hover {
    transform: translateY(-2px);
}

.admin-notes-trash-btn {
    background-color: transparent;
    border: none;
    margin-left: 50px;
    font-size: 15px;
}

.admin-notes-trash-btn .delete-icon:hover {
    color: red;
    cursor: pointer;
}