#legalNotice-contain,
#deliveries-contain,
#termsOfSales-contain {
    margin: 20px;
}

#legalNotice-contain,
#deliveries-contain,
#termsOfSales-contain h1 {
    text-align: center;
}

#legalNotice-contain,
#deliveries-contain,
#termsOfSales-contain h2 {
    margin-top: 10px;
}