#master-product {
    max-width: 1400px;
    margin: 100px auto;
}


/* ************************** PRODUCT CONTENT ************************** */
#master-product-content {
    display: flex;
    justify-content: center;
}

.images-container {
    max-width: 1000px;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.description-heading {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.description-heading button {
    font-size: 1.875rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.description-heading h2 {
    font-size: var(--product-heading-fontSize);
    letter-spacing: var(--letter-spacing);
}

/* bouton nouveau */
.description-heading h2 span {
    position: absolute;
    top: -10px;
    font-size: 0.5rem;
    color: var(--new-badge-text);
    background: linear-gradient(var(--new-badge-bkg));
    font-weight: bold;
    padding: 4px 8px;
    animation: blink 2s;
}

/* bouton promotion */
.promo-badge {
    color: var(--new-badge-text);
    background: linear-gradient(45deg, #ffecb3, #ffc107, #ff9800);
    font-weight: bold;
    padding: 4px 8px;
    margin: 5px;
    animation: blink 2s;
}

/* animation bouton */
@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 0;
    }

    25%,
    75% {
        opacity: 1;
    }
}

/* prix */
.description-container .prices {
    font-size: var(--product-price-fontSize);
}

.description-container .price {
    color: var(--light-text-color);
    margin-right: 20px;
}

.description-container .oldPrice {
    text-decoration: line-through;
}

.description-container .separator {
    border: 1px solid var(--border-color);
}

/* couleur des matériaux */
#master-product-content .product-color-selector-picker {
    display: flex;
    align-items: center;
}

#master-product-content .color-picker {
    display: flex;
}

.custom-color-selector {
    display: flex;
}

.product-description {
    white-space: pre-wrap;
    /* Conserve les espaces et les sauts de ligne */
}

/* ************************** INFORMATIONS ************************** */
#master-product-informations {
    width: calc(100vw - 8px);
    max-width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 50px;
    background: var(--master-product-information-bg);
    padding: 10px;
    color: black;
}

#master-product-informations .container {
    width: 50%;
    margin: 100px auto;
    border: 1px solid var(--color-gray);
    box-shadow: 0 0 3px var(--dark);
    padding: 20px;
    border-radius: 15px;
}

#master-product-informations .title {
    text-align: center;
    margin: 30px;
}

#master-product-informations .manufacture {
    color: var(--manufacture);
    font-size: 0.7rem;
}

#master-product-informations .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 30px;
}

#master-product-informations .block-left,
#master-product-informations .block-right {
    width: 50%;
}

#master-product-informations .block-right img {
    width: 100%;
    border-radius: 15px;
}

/* Dropdowns */
.master-product-dropdown-body,
.shipping-returns-info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.master-product-dropdown-body.open,
.shipping-returns-info.open {
    max-height: 1500px;
}

.master-product-dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #DDDDDD;
    margin: 30px;
    cursor: pointer;
    font-size: 0.75rem;
}

.master-product-dropdown-body,
.shipping-returns-info {
    margin-left: 30px;
    font-size: 0.75rem;
}

#master-product-informations .body button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#master-product-informations .rotate {
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}

#master-product-informations .rotate-open {
    transform: rotate(-180deg);
}

#master-product-informations .link-dropdown {
    text-align: end;
}

#master-product-informations .highlights {
    color: var(--danger);
}

/* ************************** PRODUCT META ************************** */

#product-meta {
    display: flex;
    gap: 20px;
}

#product-meta span {
    letter-spacing: var(--letter-spacing);
    color: var(--light-text-color);
    text-transform: uppercase;
    font-size: 0.75rem;
}

#product-meta button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.product-meta-shareList {
    display: flex;
    gap: 20px;
}

/* ************************** COLOR PICKERS ************************** */
.color-option {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid black;
    padding: 1px;
    background-clip: content-box;
    transition: border 0.3s ease-in-out;
}

.selected {
    border: 2px solid #000;

}

/* ************************** IMAGES CAROUSSEL ************************** */
.image-carousel-container {
    margin-right: 50px;
}

.main-image-container img {
    width: 700px;
    height: 600px;
    margin: 0;
}

.thumbnail-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.thumbnail {
    width: 132px;
    height: 132px;
    cursor: pointer;
    border-radius: 15px;
}

.main-image-container {
    position: relative;
    display: inline-block;
}

.mainImage-zooming {
    position: relative;
}

.image-wrapper {
    position: relative;
    z-index: 100;
}

.image-wrapper img {
    display: block;
    margin: 10px auto;
    cursor: zoom-in;
    border-radius: 15px;
}

.mainImage-zooming-close {
    position: absolute;
    top: 6.5em;
    right: 1em;
    color: red;
    font-size: 1rem;
    z-index: 200;
    border: none;
    padding: 3px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}

/* ************************** ASSORTMENTS ************************** */
#master-product-assortments-section {
    width: calc(100vw);
    max-width: 100vw;
    margin-left: calc(-50vw + 50% + 100px);
    padding: 10px;
    color: var(--dark);
}

#master-product-assortments-section h2 {
    text-align: center;
    letter-spacing: var(--letter-spacing);
}

#master-product-assortments-section h3 {
    letter-spacing: var(--letter-spacing);
}

.master-product-assortments-container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    overflow-x: scroll;
    /* -ms-overflow-style: none; */
    /* Internet Explorer 10+ */
    /* scrollbar-width: none; */
    /* Firefox */
}

.master-product-assortments-container::-webkit-scrollbar {
    /* display: none; */
    /* Safari and Chrome */
}