/* ************************** PRODUCT CONTENT ************************** */
#product-content {
    display: flex;
    justify-content: center;
}

.images-container {
    max-width: 1000px;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}
.description-heading{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.description-heading button{
   font-size: 1.875rem;
   cursor: pointer;
   border: none;
   background-color: transparent;
}
.description-heading h2 {
    font-size: var(--product-heading-fontSize);
    letter-spacing: var(--letter-spacing);
}
/*bouton nouveau*/
.description-heading h2 span {
    position: absolute;
    top: -10px;
    font-size: 0.5rem;
    color: var(--new-badge-text);
    background: linear-gradient(var(--new-badge-bkg)) ;
    font-weight: bold;
    padding: 4px 8px;
    animation: blink 2s;
}
/*bouton promotion*/
.promo-badge{
    color: var(--new-badge-text);
    background: linear-gradient(45deg, #ffecb3, #ffc107, #ff9800);
    font-weight: bold;
    padding: 4px 8px;
    margin: 5px;
    animation: blink 2s;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 0;
    }

    25%,
    75% {
        opacity: 1;
    }
}

.description-container .prices {
    font-size: var(--product-price-fontSize);
}

.description-container .price {
    color: var(--light-text-color);
    margin-right: 20px;
}

.description-container .oldPrice {
    text-decoration: line-through;
}

.description-container .separator {
    border: 1px solid var(--border-color);
}
#product-content .product-color-selector-picker {
    display: flex;
    align-items: center;
  }
#product-content .color-picker {
    display: flex;
  }
.custom-color-selector {
    display: flex;
  }
#product-content .info-tooltip:hover::before{
    left: 55px;
}
  /* ************************** PRODUCT ASIDE ************************** */
  #product-aside {
    width: 30%;
    margin: 100px auto;
}

.additional-details {
    position: relative;
}

.production-details,
.shipping-returns-info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.production-details.open,
.shipping-returns-info.open {
    max-height: 500px;
}

.details-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #DDDDDD;
    margin: 30px;
    cursor: pointer;
    font-size: 0.75rem;
}

.production-details,
.shipping-returns-info {
    margin-left: 30px;
}

.additional-details button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#product-aside .rotate {
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}

#product-aside .rotate-open {
    transform: rotate(-180deg);
}
 /* ************************** PRODUCT META ************************** */

#product-meta {
    display: flex;
    gap: 20px;
}
#product-meta span{
  letter-spacing: var(--letter-spacing);
  color: var(--light-text-color);
  text-transform: uppercase;
  font-size: 0.75rem;
}
#product-meta button{
border: none;
background: transparent;
cursor: pointer;
}

.product-meta-shareList {
    display: flex;
    gap: 20px;
}
/* ************************** COLOR PICKERS ************************** */
.color-option {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid black;
    padding: 1px; 
    background-clip: content-box;
    transition: border 0.3s ease-in-out;
  }

  .selected {
    border: 2px solid #000; 
    
  }
  /* ************************** IMAGES CAROUSSEL ************************** */
  .image-carousel-container {
    display: flex;
    justify-content: center;
}

.main-image-container img {
    width: 700px;
    height: 600px;
    margin: 0;
}

.thumbnail-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 20px 0  10px;
}

.thumbnail {
    width: 110px;
    height: 110px;
    cursor: pointer;
}

.main-image-container img {
    display: block;
    margin: 10px auto;
    cursor: zoom-in;
}
