
.shoppingCart-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 150px auto;
}

.shoppingCart-container h1 {
    text-align: center;
}
#shoppingCart-items{
    position: sticky;
    top: 100px; 
    z-index: 1; 
    max-height: 1px;
}

.shoppingCart-content {
    display: flex;
    flex-direction: column;
}

.shoppingCart-tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
  }

.shoppingCart-tab:first-child {
    flex: 2;
}

.shoppingCart-tab {
    flex: 1;
    padding: 10px;
}

.shoppingCart-tab:nth-child(2),
.shoppingCart-tab:last-child {
    text-align: end;
}
.shoppingCart-total{
    text-align: end;
    margin: 10px;
}

  