#shoppingCart-page h1 {
    text-align: center;
    letter-spacing: 5px;
    margin-top: 60px;
}

.shoppingCart-container {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 50px auto;
}

.shoppingCart-container>* {
flex: 1;
}

.shoppingCart-content {
    display: flex;
    flex-direction: column;
}

.shoppingCart-total {
    text-align: end;
    margin: 10px;
}

#shoppingCart-page .cart-clear {
    text-align: center;
}

#shoppingCart-page .cart-clear-trash {
    font-size: 1.5rem;
    color: var(--dark);
}

#shoppingCart-page .cart-clear-trash:hover {
    animation: shake-rotate 2s ease 0s 1 normal forwards;
}

/* ****************** ROWS CART ITEM COMPONENT ****************** */
#shoppingCart-page .cart-item {
    border-top: 1px solid var(--border-color);
    padding: 10px;
    margin: 10px 20px;
}

#shoppingCart-page img {
    border-radius: 5px;
}

#shoppingCart-page .cart-item-top,
#shoppingCart-page .cart-item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#shoppingCart-page .cart-item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Nombre de lignes avant de tronquer le texte */
    line-height: 1.5;
    /* Ajustez la hauteur de ligne si nécessaire */
    max-height: calc(1.5em * 2);
    /* Hauteur maximale basée sur le nombre de lignes et la hauteur de ligne*/
}

#shoppingCart-page .cart-item-delete {
    text-align: right;
    transition: color 0.2s ease-in;
}

/* INFO-BULLE POUR LA SUPPRESSION D'UN ITEM */
#shoppingCart-page .cart-item-delete .info-tooltip:hover::before {
    left: -90%;
}

#shoppingCart-page button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#shoppingCart-page .payment-button {
    display: block;
    margin: 20px auto;
    font-size: 1rem;
    padding: 15px;
}

/* ****************** ADVANTAGES ****************** */
.advantages-section {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: black;
}

.advantages-section .item-content.credit {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.advantages-section .item-content .item-content-input {
    position: relative;
}

.advantages-section .item-content .item-content-input .validate {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}


.advantages-section .item-content .item-content-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 5px 0;
}

.advantages-section .item-content button {
    padding: 15px;
    flex: 0.5;
}

.advantages-section .item-content input,
.advantages-section .item-content select {
    padding: 15px;
    border: 1px solid var(--border-color);
    margin: 0;
    border-radius: 5px;
    flex: 2.5;
}
.advantages-section {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: black;
}

.advantages-section h2 {
    margin: 10px;
    font-weight: 600;
}

.advantages-section .title {
    display: flex;
    align-items: center;
}
.advantages-section input{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}
.advantages-section .inventoryAdvantages {
    margin: 10px auto;
}

.advantages-section .inventoryAdvantages table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.advantages-section .inventoryAdvantages th,
.advantages-section .inventoryAdvantages td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.advantages-section .inventoryAdvantages th {
    background-color: #f2f2f2;
}
.advantages-section button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.advantages-section button#cancel {
    background-color: var(--danger);
}

.advantages-section button:hover {
    background-color: #45a049;
}

.advantages-section button#cancel:hover {
    background-color: #b02a37;
}

/* ****************** MEDIAS QUERIES  ****************** */

@media (max-width: 768px) {
    .payment-page .block-1 {
        display: inherit;
    }

    #.advantages-section {
        margin: 40px auto;
    }

   ..advantages-section {
        margin: 40px auto;
    }
}

@media (max-width: 576px) {

    ..advantages-section .inventoryAdvantages .item-content input,
    ..advantages-section .inventoryAdvantages .item-content select {
        flex: inherit;
        width: 100%;
    }

    ..advantages-section .inventoryAdvantages .item-content button {
        padding: 8px;
    }

    ..advantages-section .inventoryAdvantages table,
    ..advantages-section .inventoryAdvantages thead,
    ..advantages-section .inventoryAdvantages tbody,
    ..advantages-section .inventoryAdvantages th,
    ..advantages-section .inventoryAdvantages td,
    ..advantages-section .inventoryAdvantages tr {
        display: block;
    }

    ..advantages-section .inventoryAdvantages thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    ..advantages-section .inventoryAdvantages tr {
        border: 1px solid #ccc;
    }

    ..advantages-section .inventoryAdvantages td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    ..advantages-section .inventoryAdvantages td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    ..advantages-section .inventoryAdvantages td:before {
        content: attr(data-label);
    }
}

@media (max-width: 1200px) {
    .shoppingCart-container {
        display: inherit;
        margin: 100px 20px;
    }
}

@media (max-width: 576px) {
    .shoppingCart-container {
        margin: 50px 0;
    }

    #shoppingCart-page .cart-item {
        margin: 10px 0;
        padding: 10px 15px;
    }

    #.advantages-section .item-content input,
    #.advantages-section .item-content select {
        flex: inherit;
        width: 100%;
    }

    #.advantages-section .item-content button {
        padding: 8px;
    }

    #payment-form .inventoryAdvantages table,
    #payment-form .inventoryAdvantages thead,
    #payment-form .inventoryAdvantages tbody,
    #payment-form .inventoryAdvantages th,
    #payment-form .inventoryAdvantages td,
    #payment-form .inventoryAdvantages tr {
        display: block;
    }

    #payment-form .inventoryAdvantages thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #payment-form .inventoryAdvantages tr {
        border: 1px solid #ccc;
    }

    #payment-form .inventoryAdvantages td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    #payment-form .inventoryAdvantages td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    #payment-form .inventoryAdvantages td:before {
        content: attr(data-label);
    }
}