#tradition .animated-container {
    animation: slideFromTop 2s ease 0s 1 normal forwards;
}

#tradition section {
    margin: 40px auto;
    max-width: 1000px;
    text-align: center;
    background: var(--collection-card-bg);
    border-radius: 12px;
    border: 2px solid var(--color-gray);
    color: black;
}

#tradition img {
    width: 100%;
    height: 100%;
}

#tradition .block .illustration {
    width: 100%;
    height: 400px;
}

#tradition .block .block-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#tradition .block .block-content>* {
    flex: 1;
}

#tradition .block .block-content .illustration.right img {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#tradition .block .block-content .illustration.left img {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#tradition h2,
#tradition h3 {
    font-size: 2rem;
    margin: 20px 0;
}

#tradition .text {
    padding: 10px;
}

/* ***************************** HERO ***************************** */
#tradition .hero .hero-content .text {
    flex: 2
}

#tradition .hero .hero-content .illustration {
    flex: 1;
}

#tradition .hero .hero-content .text .first {
    font-style: italic;
}

/* ***************************** TITLE ***************************** */
#tradition section.title {
    margin: 0;
    max-width: initial;
    width: 100%;
    padding: 40px;
    border: none;
}

#tradition section .title-content {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

#tradition section .title-content h1 {
    text-align: start;
    font-size: 2.5rem;
    margin: 20px 0;
}

#tradition .title .title-content .first {
    font-style: italic;
}

#tradition .title .title-content p {
    text-align: start;
}

/* ***************************** PARTICULARITY ***************************** */
#tradition section.particularity {
    margin: 0;
    max-width: initial;
    width: 100%;
    padding: 40px;
    border: none;
    background: inherit;
}

#tradition section .particularity-content {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    text-align: start;
}

#tradition section .particularity-content li {
    margin: 20px;
}

#tradition section .particularity-content .magic {
    text-align: center;
}

#tradition .particularity #contact {
    width: 250px;
    color: var(--text-whitesmoke);
    background: var(--dark);
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0 0 3px var(--dark);
    margin: 50px auto;
}