.admin-configuration h2 {
    cursor: pointer;
    color: var(--text-whitesmoke);
    background: var(--secondary);
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.admin-configuration h2:hover {
    transform: translateY(-3px);
}

.admin-categories,
.admin-tags,
.admin-materials,
.admin-collections {
    margin: 40px;
}

.admin-configuration .content-block-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark);
    margin: 20px 10px;
    transition: transform 0.3s ease;
}

.admin-configuration .content-block-wrapper:hover {
    transform: translateY(-3px);
}

.admin-configuration .content-block {
    display: flex;
}

.admin-configuration .content-block-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-configuration .content-block-right {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.admin-configuration .validate-btn {
    background-color: var(--success);
    color: var(--dark);
}

.adding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.account-input-config {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.account-input-config:focus {
    outline: none;
    border: 1px solid var(--dark);
    box-shadow: 0 0 3px var(--dark);
}

.content-category-checkbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.content-category-checkbox input {
    margin: 10px;
}

.content-block-left.details {
    margin-bottom: 10px;
}

.content-block-left.details ul {
    display: flex;
    gap: 10px;
}

.content-block-left.details li {
    background: var(--info);
    padding: 2px;
    border-radius: 5px;
}

/* *********************** COLLECTION *********************** */
.admin-collections .content-block-left,
.admin-collections .content-block-main_image,
.admin-collections .content-block-right {
    width: calc(100% / 3);
}

.admin-collections .content-block-right {
    justify-content: flex-end;
}

/* *********************** IMAGE PRINCIPALE COLLECTION *********************** */
.admin-collections .content-block-main_image {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.admin-collections .content-block-main_image button,
.admin-collections .main_image-select button {
    margin-top: 5px;
    width: 200px;
    display: block;
}

.admin-collections .content-block-main_image .images-wrapper span,
.admin-collections .main_image-select .images-wrapper span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: var(--secondary);
    cursor: pointer;
}

.admin-collections .image-container.main_image .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.admin-collections .image-container.main_image {
    width: 200px;
    height: 200px;
}

.admin-collections .image-container {
    border: 1px solid var(--secondary);
    margin-right: 10px;
    position: relative;
    border-radius: 5px;
}

.admin-collections .images-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.admin-collections .labels-details input {
    width: auto;
    height: 10px;
    margin: 5px;
}

.admin-collections input[type='file'] {
    display: none;
}

.admin-collections .delete-image {
    color: var(--danger);
}