/* ********************* START DASHBOARD VIEW ********************* */
.admin-dashboard {
    max-width: 1400px;
    margin: 20px auto;
}

.admin-dashboard-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 200px;
}

.admin-dashboard-menu button {
    margin: 20px;
    color: var(--text-whitesmoke);
    background-color: var(--dark);
}

.admin-dashboard-menu button span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.admin-dashboard-menu .selected {
    color: var(--redOnBlack);
}

.searchBarAdmin-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;
}

.searchBarAdmin-filter {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.searchBarAdmin-filter:focus {
    outline: var(--dark);
}

.searchBarAdmin-icon {
    font-size: 1.2rem;
    color: var(--secondary);
}
/* ********************* END DASHBOARD VIEW ********************* */