/* **********************************START LISTING ********************************** */
.productsFilterPanel-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.products {
    position: relative;
    margin: 50px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: auto;
}

.products .card {
    width: 250px;
    height: 250px;
    border: 1px solid var(--background);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
}

.products .card:hover {
    transform: scale(1.05);
}

.products .card-wrapper img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.products .card-wrapper {
    padding: 10px;
}

.addProduct {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addProduct span {
    font-size: 100px;
}

/* **********************************END LISTING ********************************** */
/* **********************************START MODAL ********************************** */
.product-modal-close {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    transition: transform 0.3s ease;
    color: var(--dark);
}

.product-modal-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 20px;
}

.product-modal-content h2 {
    text-align: center;
    margin-bottom: 50px;
}

.product-modal-close:hover {
    transform: rotate(180deg) translateY(25%);
}

.products .overlay {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1400px;
    height: 100vh;
    background: var(--background);
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* ******* NAME ******* */
.product-modal-content .name-section {
    text-align: center;
}

/* ******* GROUPS ******* */
.product-modal-content .groups-section {
    display: flex;
    justify-content: space-between;
}

.product-modal-content .groups-section .account-input {
    width: 100%;
}

.product-modal-content .group-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* ******* TAGS ******* */
.product-modal-content .tags-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-modal-content .tag {
    display: flex;
    gap: 20px;
    padding: 1px 3px 1px 20px;
    background: var(--warning);
    border-radius: 5px;
}

.product-modal-content .tag-remove {
    color: var(--background);
    cursor: pointer;
    font-size: 12px;
}

/* ******* DESCRIPTION ******* */
.product-modal-content .description-section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.product-modal-content .description-input {
    width: 785px;
}

/* ******* IMAGES SECONDARY ******* */
.product-modal-content .images-secondary-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.product-modal-content .image-container {
    width: 150px;
    height: 150px;
    border: 1px solid var(--secondary);
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.product-modal-content input[type='file'] {
    display: none;
}

.product-modal-content .images-secondary-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.product-modal-content .images-secondary-wrapper span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: var(--secondary);
    cursor: pointer;
}

/* ******* CONFIRMATION ******* */
.confirm-section {
    text-align: end;
}

/* ******* MATERIALS ******* */
.product-modal-content .materials-radio {
    display: flex;
    align-items: center;
    gap: 30px;
}

.product-modal-content .materials-radio input {
    margin-right: 5px;
}

/* **********************************END LISTING ********************************** */