.authentication .failed-verification {
    text-align: center;
}

.authentication .failed-verification p {
    font-size: 2rem;
    color: var(--background);
    background-color: var(--danger);
    padding: 10px 20px;
    border-radius: 5px;
}