:root {
    --text-font-family: 'Nunito Sans', sans-serif;
    --heading-font-family: 'Raleway', sans-serif;

    --border-color: #DDDDDD;

    --text-color: #1C1B1B;
    --light-text-color:#6A6A6A;
    --nav-menu-color:#1C1B1B;

    --background: #FFFFFF;
    --FreeShippingBanner:#F1E1DD;
    --footer-background:#F1E1DD;

    --font-weight:400;

    --nav-menu-fontSize:12px;

    --letter-spacing:0.2em;
}