#allProducts {
    background: var(--background-whitesmoke);
}

#allProducts .allProducts-content {
    width: 80%;
    margin: auto;
    padding: 50px;
}

#allProducts .filterBlock-content-action button {
    color: whitesmoke;
}

#allProducts .filterBlock-content-action .validate-btn {
    background: var(--success);
}

#allProducts .filterBlock-content-action .reset-btn {
    background: var(--warning);
}