.user-profile-container {
    display: flex;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
  }
  
  .user-info-account,
  .order-history {
    flex: 1;
    margin-right: 30px; 
  }
  
  .order-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .delivered-orders,
  .other-orders {
    margin-bottom: 30px;
  }
  
  .order-item p {
    margin-bottom: 10px;
  }
  
  .delivered-orders h3,
  .other-orders h3 {
    margin-bottom: 15px;
  }

  .user-info-account p {
    margin-bottom: 15px;
  }
  .user-info-account b {
   text-transform: uppercase;
  }
  