.cart-item {
    border-top: 1px solid #fff;
    padding: 10px;
    margin: 10px 20px;
}

.cart-item-top,
.cart-item-bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.cart-item-image {
    flex: 1;
    max-width: 25%;
}

.cart-item-name {
    flex: 3;
}

.cart-item-delete {
    flex: 0.2;
    text-align: right;
    transition: color 0.2s ease-in;
}

.cart-item-subtotal {
    flex: 1.4;
}

.cart-item-quantity {
    flex: 1.4;
    text-align: right;
}

/* INFO-BULLE POUR LA SUPPRESSION D'UN ITEM */
.cart-item-delete:hover::before {
    left: -90%;
}