.offcanvas {
    position: fixed;
    top: 0;
    right: -400px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
}

.offcanvas.show {
    right: 0;
}

.offcanvas-heading {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
}

.offcanvas-heading button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.offcanvas-heading button:hover {
    transform: rotate(180deg) translateY(10%); 
    color: red;
}
.cart-offcanvas-content {
    margin-top: 20px;
    background: linear-gradient(var(--cart-offcanvas));
}

.empty-cart-message{
    margin: 50px;
    text-align: center;
}
.fixed-bottom-content button {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: transparent;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.fixed-bottom-content button:hover {
    background: var(--button-background);
    color: #fff;
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fixed-bottom-content {
    position: sticky;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}