#freeShippingBanner a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--freeShippingBanner-bkg);
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    padding-top: 10px;
}

#freeShippingBanner span {
    font-size: 35px;
    color: var(--freeShippingBanner-icon);
}
