#freeShippingBanner {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: var(--freeShippingBanner-bkg);
}

#freeShippingBanner a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    padding-top: 10px;
}

/* Animation de la camionnete */
#freeShippingBanner span {
    font-size: 35px;
    color: var(--freeShippingBanner-icon);
    transform: translateX(-800%);
    animation: slideIn 4s forwards, shake 0.5s infinite alternate; 
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

@keyframes shake {
    to {
      transform: translateY(5px); /* Légère secousse vers la droite */
    }
  }