#langs {
    display: flex;
    align-items: last center;
    cursor: pointer;
}

#langs #p-fr {
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    font-size: 0.625rem;
}

#langs span {
    font-size: 1.56rem;
    padding-top: 5px;
}
