.mega-Menu-Display {
    position: relative;
}

.mega-Menu-Display-1,
.mega-Menu-Display-2 {
    display: flex;
    gap: 100px;
    justify-content: center;
    width: 100%;
}

.visible {
    opacity: 1;
    height: 350px;
    width: 100%;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.hidden {
    visibility: hidden;
    height: 0;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

#mega-Menu h3 {
    color: var(--light-text-color);
    font-size: var(--nav-menu-heading-fontSize);
    letter-spacing: var(--letter-spacing);
    margin-bottom: 10px;
}

#mega-Menu li a {
    font-size: var(--nav-menu-text-fontSize);
    letter-spacing: var(--letter-spacing);
    line-height: 1.5;
}

#mega-Menu li:hover {
    color: var(--light-text-color);
}

#mega-Menu figure {
    max-width: 370px;
}

#mega-Menu figure img {
    width: 100%;
}

#mega-Menu figcaption {
    letter-spacing: var(--letter-spacing);
    font-size: var(--nav-menu-fontSize);
}