#navIcons ul {
    display: flex;
    gap: 20px;
}
.navlink-icon{
    font-size: 25px;
    cursor: pointer;
}

#navIcons button{
    border: none;
    background: transparent;
}
#navIcons a.active {
    font-weight: bold;
    color: var(--text-golden);
  }