#navIcons ul {
    display: flex;
    font-size: 25px;
    gap: 20px;
}

#navIcons :nth-child(3) {
    cursor: pointer;
}
#navIcons a.active {
    font-weight: bold;
    color: var(--text-golden);
  }