#navIcons ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
#navIcons li img{
    border-radius: 50%;
    max-width: 50px;
}
.navlink-icon{
    font-size: 1.56rem;
    cursor: pointer;
}

#navIcons button{
    border: none;
    background: transparent;
}
#navIcons a.active {
    font-weight: bold;
    color: var(--text-golden);
  }
  .navlink-icon.heart{
    color:var(--dark);
  }