#productsByOrder-assortments-section h2{
 text-align: center;
 letter-spacing: var(--letter-spacing);
}
#productsByOrder-assortments-section h3{
 letter-spacing: var(--letter-spacing);
}

.productsByOrder-assortments-container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin: 50px;
    gap: 30px;
}
.product-image img{
    width: 200px;
    height: 300px;
}
.product-details {
    font-size: 0.75rem;
}
.product-details p{
    color: var(--light-text-color);
}