#product-aside {
    width: 30%;
    margin: 100px auto;
}

.additional-details {
    position: relative;
}

.production-details,
.shipping-returns-info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.production-details.open,
.shipping-returns-info.open {
    max-height: 500px;
}

.details-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #DDDDDD;
    margin: 30px;
    cursor: pointer;
    font-size: 12px;
}

.production-details,
.shipping-returns-info {
    margin-left: 30px;
}

.additional-details button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#product-aside .rotate {
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}

#product-aside .rotate-open {
    transform: rotate(-180deg);
}