#product-meta {
    display: flex;
    gap: 20px;
}
#product-meta span{
  letter-spacing: var(--letter-spacing);
  color: var(--light-text-color);
  text-transform: uppercase;
  font-size: 0.75rem;
}
#product-meta button{
border: none;
background: transparent;
cursor: pointer;
}

.product-meta-shareList {
    display: flex;
    gap: 20px;
}
