.quantity-section {
    margin-top: 20px;
}

.quantity-select {
    display: flex;
    align-items: center;
}

.quantity-select button {
    border: var(--border-color);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.quantity-select span {
    margin: 0 10px;
}

.quantity-icon {
    color: var(--color-gray);
}