.quantity-section {
    margin-top: 20px;
}

.quantity-select {
    display: flex;
    align-items: center;
    gap: 10px;
}
.quantity-select input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

  .quantity-select input:focus {
    outline-color: var(--text-golden);
  }
  