header {
    box-shadow: 0 -1px var(--border-color) inset;
}

#headerWrapper {
    margin: 30px;
}
#headerWrapper h1{
text-align: center;}

#headerWrapper #flex-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#headerWrapper #flex-item > * {
width: 33%;
}
#headerWrapper .flex-item-navIcons{
    display: flex;
    justify-content: flex-end;
}
#iconCart {
    position: relative;
}

#numberCart {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    font-size: 0.7rem;
    top: -8px;
    right: -5px;
    color: aliceblue;
}