body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.65;
    font-family: var(--text-font-family);
    color: var(--text-color);
    background-color: var(--background);
    font-weight: var(--font-weight);
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font-family);
    font-weight: var(--font-weight);
    text-transform: uppercase;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    font-family: var(--text-font-family);
    cursor: pointer;
    background: linear-gradient(90deg, transparent 50%, var(--button-background) 50%);
    background-size: 200% 100%;
    transition: background-position 0.2s ease-in, color 0.2s ease-in, font-weight 0.2s ease-in;
    transition: transform 0.3s;
}

.btn:hover {
    background-position: -100% 0;
    transform: translateY(-2px);
}

img {
    object-fit: cover;
}

.error-message {
    font-size: 0.75rem;
    color: var(--danger);

}

.underline {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.dotted {
    border-bottom: 1px dotted var(--dark);
}

/* ********************* START INFO-BULLE TOOLTIP ********************* */
.info-tooltip {
    position: relative;
}

.info-tooltip:hover::before {
    content: attr(aria-label);
    position: absolute;
    top: -30px;
    width: 100px;
    background: var(--dark);
    color: var(--text-color-white);
    padding: 5px;
    font-size: 0.625rem;
    text-align: center;
    border-radius: 5px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.info-tooltip:hover::before {
    left: 50%;
}

.info-tooltip:hover::before {
    opacity: 1;
}

/* ********************* START AFFICHAGE PRIX ********************* */
.pricing {
    padding: 2px 4px;
    border: none;
    border-radius: 5px;
    background-color: var(--text-whitesmoke);
}

.inPricing {
    color: var(--success)
}

.outPricing {
    color: var(--danger);
}

/* ********************* END AFFICHAGE PRIX ********************* */
/* ********************* START CONFIRMATION POPUP ********************* */
.confirmation-popup button {
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.confirmation-popup button:nth-child(2) {
    color: var(--text-whitesmoke);
    background-color: var(--danger);
}

.confirmation-popup button:nth-child(3) {
    color: var(--text-whitesmoke);
    background-color: var(--success);
}

/* ********************* END CONFIRMATION POPUP ********************* */
/* ********************* START BOUTON + ICONES  INTERFACES COMPTES ADMIN ET CLIENT ********************* */
.account-btn {
    color: var(--text-whitesmoke);
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.account-btn:hover {
    transform: translateY(-2px);
}

.noValid {
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: var(--text-whitesmoke);
    background-color: var(--secondary);
    padding: 5px;
    cursor: not-allowed;
}

[disabled] {
    cursor: not-allowed;
    color: var(--color-disabled);
    background: var(--background-disabled);
}

/* SPECIFICITE TOGGLE */
.toggle {
    background-color: var(--dark);
}

/* SPECIFICITE ICONES */
.icon-trash {
    background-color: var(--danger);
    color: whitesmoke;
}

.validate-btn {
    color: whitesmoke;
}

.icon-edit {
    color: var(--text-whitesmoke);
    background-color: var(--warning);
}

.icon-validate {
    color: var(--text-whitesmoke);
    background-color: var(--success);
}

.asterix {
    color: var(--danger);
}

/* ********************* END BOUTON + ICONES  INTERFACES COMPTES ADMIN ET CLIENT ********************* */

/* ********************* START INPUT INTERFACES COMPTES ADMIN ET CLIENT ********************* */
.account-input {
    width: 30%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.account-input:focus {
    outline: none;
    border: 1px solid var(--dark);
    box-shadow: 0 0 3px var(--dark);
}

/* ********************* END INPUT INTERFACES COMPTES ADMIN ET CLIENT ********************* */

/* ********************* START PAGINATION ********************* */
.pagination {
    display: flex;
    justify-content: center;
}

.pagination-item {
    margin: 0 5px;
}

.pagination-link {
    display: block;
    padding: 10px;
    color: var(--dark);
    background-color: var(--background);
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-link:hover {
    background-color: var(--client-list);
}

/* ********************* END PAGINATION ********************* */
.like-card {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.like {
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.like:hover {
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.like.clicked {
    animation: pulse 2s ease 0s 1 normal forwards;
}

/* ********************* LIBRARIE SLICK CAROUSEL********************* */

.slick-dots li button::before {
    color: var(--dark) !important;
    font-size: 0.8rem !important;
}

.slick-next::before,
.slick-prev::before {
    color: var(--dark) !important;
    font-size: 2rem !important;
}

.slick-initialized {
    margin: 20px;
}

.slick-list {
    padding: 20px;
}

.slick-dots {
    bottom: -50px !important;
}

/* ********************* END CARD PRODUCT ********************* */

@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes swingInRight {
    0% {
        opacity: 0;
        transform: rotateY(-100deg);
        transform-origin: right;
    }

    100% {
        opacity: 1;
        transform: rotateY(0);
        transform-origin: right;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-8 0:10:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}
@keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes kenburns-bottom-left {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 16% 84%;
        transform-origin: 16% 84%;
    }

    100% {
        -webkit-transform: scale(1.25) translate(-20px, 15px);
        transform: scale(1.25) translate(-20px, 15px);
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
    }
}
@keyframes kenburns-bottom-left {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 16% 84%;
        transform-origin: 16% 84%;
    }

    100% {
        -webkit-transform: scale(1.25) translate(-20px, 15px);
        transform: scale(1.25) translate(-20px, 15px);
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
    }
}
@-webkit-keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}
@keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}
@-webkit-keyframes flip-horizontal-bottom {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}
@keyframes flip-horizontal-bottom {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}


/* ********************* STYLE TEXYES ********************* */
.text-effect-1 {
    text-shadow: 0 0 30px whitesmoke, 5px 9px 5px rgba(0, 0, 0, 0.5), 0 0 150px whitesmoke;
    color: whitesmoke;
    font-weight: bold;
}

/* ******************** MEDIAS QUERIES ******************** */
@media (max-width: 576px) {
    .slick-initialized {
        margin: 0;
    }

    .slick-next,
    .slick-prev {
        display: none !important;
    }
    .slick-next::before,
    .slick-prev::before {
        display: none !important;
    }
}

/* *{
    border: 1px red solid;
} */