body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.65;
    font-family: var(--text-font-family);
    color: var(--text-color);
    background-color: var(--background);
    font-weight: var(--font-weight);
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font-family);
    font-weight: var(--font-weight);
    text-transform: uppercase;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    font-family: var(--text-font-family);
    cursor: pointer;
    background: linear-gradient(90deg, transparent 50%, var(--button-background) 50%);
    background-size: 200% 100%;
    transition: background-position 0.2s ease-in, color 0.2s ease-in, font-weight 0.2s ease-in;
}

.btn:hover {
    color: var(--text-color-white);
    background-position: -100% 0;
}

img {
    object-fit: cover;
}

.error-message {
    font-size: 0.75rem;
    color: var(--danger);

}

.underline {
    text-decoration: underline;
}

.dotted {
    border-bottom: 1px dotted var(--dark);
}

/* ********************* START INFO-BULLE TOOLTIP ********************* */
.info-tooltip {
    position: relative;
}

.info-tooltip:hover::before {
    content: attr(aria-label);
    position: absolute;
    top: -30px;
    width: 100px;
    background: #000;
    color: var(--text-color-white);
    padding: 5px;
    font-size: 0.625rem;
    text-align: center;
    border-radius: 5px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.info-tooltip:hover::before {
    left: 50%;
}

.info-tooltip:hover::before {
    opacity: 1;
}

/* ********************* START AFFICHAGE PRIX ********************* */
.pricing {
    padding: 2px 4px;
    border: none;
    border-radius: 5px;
    background-color: var(--text-whitesmoke);
}

.inPricing {
    color: var(--success)
}

.outPricing {
    color: var(--danger);
}

/* ********************* END AFFICHAGE PRIX ********************* */
/* ********************* START CONFIRMATION POPUP ********************* */
.confirmation-popup button {
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.confirmation-popup button:nth-child(2) {
    color: var(--text-whitesmoke);
    background-color: var(--danger);
}

.confirmation-popup button:nth-child(3) {
    color: var(--text-whitesmoke);
    background-color: var(--success);
}

/* ********************* END CONFIRMATION POPUP ********************* */
/* ********************* START BOUTON + ICONES  INTERFACES COMPTES ADMIN ET CLIENT ********************* */
.account-btn {
    color: var(--text-color-white);
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.account-btn:hover {
    transform: translateY(-2px);
}

.noValid {
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: var(--text-whitesmoke);
    background-color: var(--secondary);
    padding: 5px;
    cursor: not-allowed;
}

/* SPECIFICITE TOGGLE */
.toggle {
    background-color: var(--dark);
}

/* SPECIFICITE ICONES */
.icon-trash {
    background-color: var(--danger);
    color: var(--text-whitesmoke);
}

.icon-edit {
    color: var(--text-whitesmoke);
    background-color: var(--warning);
}

.icon-validate {
    color: var(--text-whitesmoke);
    background-color: var(--success);
}

/* ********************* END BOUTON + ICONES  INTERFACES COMPTES ADMIN ET CLIENT ********************* */

/* ********************* START INPUT INTERFACES COMPTES ADMIN ET CLIENT ********************* */
.account-input {
    width: 30%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.account-input:focus {
    outline: none;
    border: 1px solid var(--dark);
    box-shadow: 0 0 3px var(--dark);
}

/* ********************* END INPUT INTERFACES COMPTES ADMIN ET CLIENT ********************* */

/* ********************* START PAGINATION ********************* */
.pagination {
    display: flex;
    justify-content: center;
}

.pagination-item {
    margin: 0 5px;
}

.pagination-link {
    display: block;
    padding: 10px;
    color: var(--dark);
    background-color: var(--background);
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-link:hover {
    background-color: var(--client-list);
}

/* ********************* END PAGINATION ********************* */

/* *{
    border: 1px red solid;
} */