.product-detail-container {
    display: flex;
    justify-content: center;
}

.images-container {
    max-width: 1000px;
}

.main-image-container img {
    display: block;
    margin: 10px auto;
    object-fit: cover;
    cursor: zoom-in;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.description-container h2 {
    font-size: var(--product-heading-fontSize);
    letter-spacing: var(--letter-spacing);
}

.description-container h2 span {
    position: absolute;
    font-size: 0.5rem;
    color: var(--text-golden);
    font-weight: bold;
}

.description-container .prices {
    font-size: var(--product-price-fontSize);
}

.description-container .price {
    color: var(--light-text-color);
    margin-right: 20px;
}

.description-container .oldPrice {
    text-decoration: line-through;
}

.description-container .separator {
    border: 1px solid var(--border-color);
}

.quantity-section {
    margin-top: 20px;
}

.quantity-select {
    display: flex;
    align-items: center;
}

.quantity-select button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-select span {
    margin: 0 10px;
}

.buy-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* ImageCarousel.css */
.image-carousel-container {
    display: flex;
    justify-content: center;
}

.main-image-container img {
    width: 700px;
    height: 600px;
    margin: 0;
}

.thumbnail-container {
    flex: 0 0 100px;
    margin-left: 10px;
}

.thumbnail {
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
}