:root {
    --text-font-family: 'Nunito Sans', sans-serif;
    --heading-font-family: 'Raleway', sans-serif;

    --border-color: #DDDDDD;

    --text-color: #1C1B1B;
    --text-golden:#967F71;
    --footer-heading-color:#1C1B1B;
    --light-text-color:#6A6A6A;
    --footer-text-color:#FFFFFF;
    --nav-menu-color:#1C1B1B;

    --background: #FFFFFF;
    --FreeShippingBanner:#C4B6C3;
    --footer-background:#C4B6C3;
    --button-background:#C4B6C3;

    --font-weight:400;

    --nav-menu-heading-fontSize:11px;
    --nav-menu-text-fontSize:12px;
    --footer-heading-fontSize:12px;
    --footer-text-fontSize:11px;


    --letter-spacing:0.2em;
}