:root {
    /* FONT FAMILY */
    --text-font-family: 'Nunito Sans', sans-serif;
    --heading-font-family: 'Raleway', sans-serif;

    /* BORDER */
    --border-color: #DDDDDD;

    /* COLOR */
    --text-color: #1C1B1B;
    --text-golden: #967F71;
    --light-text-color: #6A6A6A;
    --freeShippingBanner-icon: #fff;
    --nav-menu-color: #1C1B1B;
    --new-badge-text: #FFFFFF;
    --footer-heading-color: #1C1B1B;
    --footer-text-color: #FFFFFF;

    /* BACKGROUND */
    --background: #FFFFFF;
    --freeShippingBanner-bkg: #D9C2B6;
    --button-background: #D9C2B6;
    --new-badge-bkg: to right, #d8e1eb, #aeb8c5;
    --quantity-cart: #D9C2B6;
    --footer-background: #C4B6C3;

    /* FONT WEIGHT */
    --font-weight: 400;

    /* FONT SIZE */
    --nav-menu-heading-fontSize: 0.6875rem;
    --nav-menu-text-fontSize: 0.75rem;
    --product-heading-fontSize: 1.125rem;
    --product-price-fontSize: 1rem;
    --footer-heading-fontSize: 1rem;
    --footer-text-fontSize: 0.75rem;

    /* LETTER SPACING */
    --letter-spacing: 0.2em;

    /* COMPTES ADMIN ET CLIENT */
    --btn-toggle:black;
    --icon-trash:red;
    --icon-validate:rgb(40, 167, 69);
    --icon-edit:orange;

}
